body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
}

h1 {
  color: #333;
}

a {
  display: inline-block;
  margin: 10px 0;
  text-decoration: none;
  color: #0073e6;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table, th, td {
  border: 1px solid #a26464;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #c99494;
}
